## TASK 0

In [80]:
import duckdb
from pathlib import Path
import pandas as pd

In [99]:
# handle paths
duckdb_path = "data/sakila.duckdb"
Path(duckdb_path).unlink(missing_ok=True)

# connect to duckdb file with context manager
with duckdb.connect(duckdb_path) as conn, open("sql/load_sakila.sql") as ingest_scripts:
    conn.sql(ingest_scripts.read())
    # create pandas dataframes from the created duckdb connection
    description = conn.sql("DESC;").df()

## EDA TASK

In [ ]:
#task 1 a
with duckdb.connect(duckdb_path) as conn:
    t1a = conn.execute("SELECT title, length FROM film WHERE length > 180").df() 

t1a

                 title  length
0     ANALYZE HOOSIERS     181
1      BAKED CLEOPATRA     182
2        CATCH AMISTAD     183
3        CHICAGO NORTH     185
4    CONSPIRACY SPIRIT     184
5       CONTROL ANTHEM     185
6     CRYSTAL BREAKING     184
7       DARN FORRESTER     185
8       FRONTIER CABIN     183
9          GANGS PRIDE     185
10    HAUNTING PIANIST     181
11           HOME PITY     185
12     HOTEL HAPPINESS     181
13      INTRIGUE WORST     181
14       JACKET FRISCO     181
15      KING EVOLUTION     184
16      LAWLESS VISION     181
17       LOVE SUICIDES     181
18       MONSOON CAUSE     182
19     MOONWALKER FOOL     184
20       MUSCLE BRIGHT     185
21        POND SEATTLE     185
22       RECORDS ZORRO     182
23          REDS POCUS     182
24  RUNAWAY TENENBAUMS     181
25         SATURN NAME     182
26       SCALAWAG DUCK     183
27      SEARCHERS WAIT     182
28     SMOOCHY CONTROL     184
29  SOLDIERS EVOLUTION     185
30      SONS INTERVIEW     184
31      SORORITY QUEEN     184
32      STAR OPERATION     181
33   SWEET BROTHERHOOD     185
34      THEORY MERMAID     184
35           WIFE TURN     183
36         WILD APOLLO     181
37        WORST BANGER     185
38      YOUNG LANGUAGE     183

In [ ]:
#task 1b
with duckdb.connect(duckdb_path) as conn:
    t1b = conn.execute("""
SELECT title, rating, length, description
FROM film
WHERE lower( title) LIKE '%love%'
""").df()

t1b

,title,rating,length,description
0,GRAFFITI LOVE,PG,117,A Unbelieveable Epistle of a Sumo Wrestler And...
1,IDAHO LOVE,PG-13,172,A Fast-Paced Drama of a Student And a Crocodil...
2,IDENTITY LOVER,PG-13,119,A Boring Tale of a Composer And a Mad Cow who ...
3,INDIAN LOVE,NC-17,135,A Insightful Saga of a Mad Scientist And a Mad...
4,LAWRENCE LOVE,NC-17,175,A Fanciful Yarn of a Database Administrator An...
5,LOVE SUICIDES,R,181,A Brilliant Panorama of a Hunter And a Explore...
6,LOVELY JINGLE,PG,65,A Fanciful Yarn of a Crocodile And a Forensic ...
7,LOVER TRUMAN,G,75,A Emotional Yarn of a Robot And a Boy who must...
8,LOVERBOY ATTACKS,PG-13,162,A Boring Story of a Car And a Butler who must ...
9,STRANGELOVE DESIRE,NC-17,103,A Awe-Inspiring Panorama of a Lumberjack And a...

In [ ]:
#task 1c
with duckdb.connect('sakila_duck.db') as conn:
    t1c = conn.execute("""
    SELECT 
        MIN(length) as kortast,
        AVG(length) as average,
        PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY length) as median,
        MAX(length) as längst
    FROM film;
    """).df()

t1c

   kortast  average  median  längst
0       46  115.272   114.0     185